<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bengladwell.com media</title>

    <link rel="stylesheet" href="/css/normalize.css">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' type='text/css'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Courgette' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <script src="https://use.fontawesome.com/75e5ed1545.js"></script>
  </head>

  <body id="{{@exphbs.view}}">
    {{{body}}}  
  </body>

</html>


