<div class="content">
  {{#each media}}
    <div class="video">
      <div class="frame">
        <h2 class="name"><a href="/video/{{slug}}">{{name}}</a></h2>
        <img src="/media{{thumbnail}}" />
      </div>
    </div>
  {{/each}}
</div>
