<div class="content">
  {{#each media}}
    <div class="video">
      <div class="frame">
        <h2 class="name"><a href="/video/{{slug}}">{{name}}</a></h2>
        <a href="/video/{{slug}}"><img src="/media{{thumbnail}}" /></a>
      </div>
    </div>
  {{/each}}
</div>
