<div class="plain">
  <h1 class="lede">Something went wrong!</h1>
  <div class="description">Sorry. You can <a href="https://www.facebook.com/dialog/oauth?client_id={{facebook.appId}}&redirect_uri={{facebook.redirectUri}}">try again on Facebook</a>.</div>
</div>
