<div class="plain">
    <h1 class="lede">Privacy Policy</h1>
    <p style="text-align: center">
    This site uses Facebook to determine if, Ben Gladwell, am friends with you on Facebook.
    I do not retain or share this data.
    </p>
</div>
