<div class="back"><a href="/"><span class="fa fa-arrow-left"></span>All videos</a></div>
<div class="page">
  <h1 class="video__title">{{name}}</h1>
  <video id="player" class="video__player" controls preload="auto" poster="/media{{thumbnail}}">
    <source src="/media{{video}}-320.mp4" type="video/mp4" />
    <source src="/media{{video}}-360.webm" type="video/webm" />
  </video>
</div>

<script type="text/javascript" src="/js/pages/video.js"></script>
