
.content {
  .clearfix();
}
.video {
  float: left;
  width: 100%;
  padding: 1em 1em 2em;
  .frame {
    padding: 0 20px;
    .name {
      font-size: 2em;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      a {
        text-decoration: none;
        color: black;
        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  &:nth-child(2) {
    background-color: @gray;
  }
  @media screen and (min-width: @tablet-break) {
    width: 50%;
    &:nth-child(2) {
      background-color: inherit;
    }
  }
  @media screen and (min-width: @desktop-break) {
    width: 33%;
  }
}
