body#video {
  padding: 1em 0;

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.video__player {
  max-width: 95%;
}

.video__title {
  text-align: center;
  @media screen and (min-width: @tablet-break) {
    font-size: 3em;
  }
}
